extends layout

block css
  link(rel='stylesheet', href='/style.css')

block content
  .container
    form#form-findpasswd.form(action="/findpasswd", method="POST")
      .form-header
        h4 you email when register:
      .form-body
        .form-group
          input#registerEmail.form-control(name="email", type='email', required)
        input.btn.btn-default(type='submit', value="提交")

block js
  script(src="/main.js")