extends ../layout

block css
  link(rel='stylesheet', href='/user/style.css')

block content
  .container
    form.form(action="/i/changepasswd/" + id, method="POST")
      .form-header
        h4 change password
      .form-body
        .form-group
          label.control-label(for="newpasswd") newpasswd
          input#passwdLogin.form-control(name="newpasswd", type='password', required)
        input.btn.btn-default(type='submit', value="提交")


block js
  script(src="/user/main.js")