extends ../layout

block css
  link(rel='stylesheet', href='/user/style.css')
  
block content
  form#form-signin.form-signin
    .form-signin-header
      h4 请登录
    .form-signin-body
      .form-group
        label.control-label(for="name") 用户名
        input#nameLogin.form-control(required)
      .form-group
        label.control-label(for="passwd") 密码
        input#passwdLogin.form-control(type='password', required)
      p.text-danger(id='msg')
      input.btn.btn-default(type='submit', value="提交")
      br
      br
      a(href='/findpasswd') Forget password
  
  

block js
  script(src="/user/main.js")
