extends ../layout

block css
  link(rel='stylesheet', href='/user/style.css')

block content
  form#form-signup.form-signin
    .form-signin-header
      h4 创建新用户
    .form-signin-body
      .form-group#name
        label.control-label(for="iName") 用户名
        input#iName.form-control(required)
      .form-group#email
        label.control-label(for="iEmail") E-mail
        input#iEmail.form-control(type='email', required)
      .form-group.pass
        label.control-label(for="iPass") 密码
        input#iPass.form-control(type='password', required)
      .form-group.pass
        label.control-label(for="iPass2") 重复密码
        input#iPass2.form-control(type='password', required)
      input#submit.btn.btn-default(type='submit', value="提交")

  p.text-danger(id='msg')

block js
  script(src="/user/main.js")